body {
    background: darkslategrey;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    gap: 225px;
}

.menu {
    width: 200px;
    height: 300px;
    background-color: bisque;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderText {
    text-align: center;
}

.main-container {
    border: 3px solid grey;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background: lightgrey;
    width: calc(600px / 16);
    height: calc(600px / 16);
}



